<header>
  <div class="container">
    <img src="/assets/logo.png" alt="logo" class="logo">
  <nav>
    <ul>
      <li><a href="/users/login">Login</a></li>
      <li><a href="/users/register">Register</a></li>
    </ul>
  </nav>
  </div>
</header>
