<header>
  <div class="nav">
    <div class="login-register">
      <p>Login</p>
      <p>Register</p>
    </div>
    <img class="fit-picture"
     src="/Q-icon.png"
     alt="Grapefruit slice atop a pile of other slices">

  </div>
</header>
