// See: https://sass-lang.com/

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #333;
    overflow: hidden;

    .login-register{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
